{include file = 'header.tpl.html'}
<style>
body {
	font-family:Tahoma;
	background:#6D3636;
	margin:0;
	font-size:13px;
	height:100%;
}
</style>

<div class="container">
<div style="padding:5pt;"><a href="/chk" style="text-decoration:underline;">หน้าหลัก</a> > จัดการประเภทวิชา</div>
	<section class="css-table">
    <ul>
    	<li class="k-button ex1" >
        	<a href="/chk/tracking">ติดตามและตรวจสอบจบของบัณฑิต</a>
        </li>
        <!--<li class="k-button">
        	<a href="/chk/showresult">ตรวจผลการศึกษา</a>
        </li>-->
        <!--<li class="k-button">
        	<a href="/chk/transcript">สร้างระเบียนผลการศึกษา</a>
        </li>-->
         <li class="k-button" id="my"> <a href="/my"> <img src="/templates/skin/default/images/icon/profile_icon.png" width="24" height="24" style="vertical-align:middle;"/> 
         {$lang.myprofile}
        </a> </li>
    </ul>
    </section>

</div>
</body>
</html>
