{include file = 'header.tpl.html'}
<link href="/templates/skin/default/edu.css" rel="stylesheet"/>
<script>
$(function(){
	$("li").click(function(){
		window.location = $(this).find("a").attr("href");
	});
});
</script> 
<!-- CONTENT -->
<div class="container"> 
<div style="padding:5pt;"><a href="/edu" style="text-decoration:underline;">หน้าหลัก</a></div>
  <p>
   <h1 style="text-decoration:underline;">Dashboard</h1>
  <div class="recent">
    <ul class="sortable">
      <li class="k-button" id="coursetype"> <a href="/edu/coursetype"> <img src="/templates/skin/default/images/icon/course_type_icon.png" width="32" height="24" style="vertical-align:middle;"/>
        {$lang.edu_ct}
        </a> </li>
      <li class="k-button" id="course"> <a href="/edu/course"> <img src="/templates/skin/default/images/icon/course_icon.png" width="24" height="24" style="vertical-align:middle;"/>
        {$lang.edu_course}
        </a> </li>
      <li class="k-button" id="syllabus"> <a href="/edu/syllabus"> <img src="/templates/skin/default/images/icon/degree_icon.png" width="24" height="24" style="vertical-align:middle;"/> จัดการหลักสูตร </a> </li>
      <li class="k-button" id="syllabus"> <a href="/edu/level"> <img src="/templates/skin/default/images/icon/degree_icon.png" width="24" height="24" style="vertical-align:middle;"/> ระดับปริญญา</a> </li>

      <li class="k-button" id="building"> <a href="/edu/building"> <img src="/templates/skin/default/images/icon/building_icon.png" width="24" height="24" style="vertical-align:middle;"/> 
        {$lang.edu_building}
        </a> </li>
      <li class="k-button" id="building_room"> <a href="/edu/building_room"> <img src="/templates/skin/default/images/icon/New-room-icon.png"width="24" height="24" style="vertical-align:middle;"/> 
        {$lang.edu_room}
        </a> </li>
      <li class="k-button" id="faculty"> <a href="/edu/faculty"> <img src="/templates/skin/default/images/icon/shiny-work-icon.png" width="24" height="24" style="vertical-align:middle;"/> 
        จัดการคณะและสาขาวิชา
        </a> </li>
      <!--<li class="k-button" id="major"> <a href="/edu/major" > <img src="/templates/skin/default/images/icon/Browse_by_Subject_icon.png" width="24" height="24" style="vertical-align:middle;"/>
        {$lang.edu_major}
        </a> </li>-->
      <li class="k-button" id="employee"> <a href="/edu/employee"> <img src="/templates/skin/default/images/icon/teacher_icon.png" width="24" height="24" style="vertical-align:middle;"/> 
         {$lang.edu_emp}
        </a> </li>
      <li class="k-button" id="group"> <a href="/edu/group"> <img src="/templates/skin/default/images/icon/user_group_icon.png" width="24" height="24" style="vertical-align:middle;"/> 
         {$lang.edu_group}
        </a> </li>
      <li class="k-button" id="result"> <a href="/edu/result"> <img src="/templates/skin/default/images/icon/results_icon.png" width="24" height="24" style="vertical-align:middle;"/> 
        จัดการผลการศึกษาและผลการสอบ
        </a></li>
      <!--<li class="k-button" id="exam"> <a href="/edu/exam"> <img src="/templates/skin/default/images/icon/exam_icon.png" width="24" height="24" style="vertical-align:middle;"/>
        {$lang.edu_exam}
        </a> </li>-->
     <!-- <li class="k-button" id="schedule"> <a href="/edu/schedule"> <img src="/templates/skin/default/images/icon/schedule_icon.png" width="24" height="24" style="vertical-align:middle;"/>
        {$lang.schedule}
        </a> </li>-->
      <li class="k-button" id="my"> <a href="/my"> <img src="/templates/skin/default/images/icon/profile_icon.png" width="24" height="24" style="vertical-align:middle;"/> 
         {$lang.myprofile}
        </a></li>
    </ul>
  </div>
</p>
    <!-- / box debates --> 
      <div class="clear-all">&nbsp;</div>
  </div>
</div>
</body>
</html>