<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>Dashboard I Admin Panel</title>
<link rel="stylesheet" href="/templates/skin/HTML5 Admin Template/css/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../libs/jquery/plugins/DataTables-1.9.0/media/css/jquery.dataTables.css" type="text/css" />
<link rel="stylesheet" href="../../../libs/jquery/plugins/Kendo UI/styles/kendo.common.min.css" type="text/css" />
<link rel="stylesheet" href="../../../libs/jquery/plugins/Kendo UI/styles/kendo.default.min.css" type="text/css" />
<!--[if lt IE 9]>
	<link rel="stylesheet" href="templates/skin/HTML5 Admin Template/css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<script src="../../../libs/jquery/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="../../../libs/jquery/plugins/Kendo UI/source/js/kendo.all.js" type="text/javascript"></script>
<script src="../../../libs/jquery/plugins/DataTables-1.9.0/media/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="/templates/skin/HTML5 Admin Template/js/hideshow.js" type="text/javascript"></script>
<script src="/templates/skin/HTML5 Admin Template/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/templates/skin/HTML5 Admin Template/js/jquery.equalHeight.js"></script>
<script type="text/javascript" src="/templates/skin/HTML5 Admin Template/alljs.js"></script>
<style>
.loading{
	background:url(../../../common/images/icons/loading.gif) no-repeat right 0; padding-right:20px; }
</style>
</head>

<body>
<header id="header">
  <hgroup>
    <h1 class="site_title"><a href="/system">Admin</a></h1>
    <h2 class="section_title">ระบบจัดการและควบคุมระเบียนนักศึกษา</h2>
  </hgroup>
</header>
<!-- end of header bar -->

<section id="secondary_bar">
  <div class="user">
    <!--<p>
      {$page.sFullName}
      (<a href="#">NULL Messages</a>)</p>
    <!-- <a class="logout_user" href="#" title="Logout">Logout</a> --> 
  </div>
  
  <div class="breadcrumbs_container">
  
    <article class="breadcrumbs">
    {switch $page.segment}
    {case "" break}
    	<a href="/system">หน้าหลัก</a>
    {case "user" break}
    	{switch $page.view}
        {case "userAdd" break}
    	<a href="/system">หน้าหลัก</a>
        <div class="breadcrumb_divider"></div>
      	<a class="current">เพิ่มบัญชีผู้ใช้</a>
        {case "viewUser" break}
    	<a href="/system">หน้าหลัก</a>
        <div class="breadcrumb_divider"></div>
      	<a class="current">ดูบัญชีผู้ใช้</a>
        {case "emp" break}
    	<a href="/system">หน้าหลัก</a>
        <div class="breadcrumb_divider"></div>
      	<a class="current">เพิ่มข้อมูลพนักงานและบัญช</a>
        {/switch}
    {case "log" break}
    <a href="/system">หน้าหลัก</a>
    <div class="breadcrumb_divider"></div>
    <a class="current">บันทึกรายการของระบบ</a>
    {case "userlog" break}
    <a href="/system">หน้าหลัก</a>
    <div class="breadcrumb_divider"></div>
    <a class="current">บันทึกรายการของบัญชีผู้ใช้</a>
    {case "secure" break}
    	<a href="/system">หน้าหลัก</a>
        <div class="breadcrumb_divider"></div>
        <a class="current">ระบบความปลอดภัย</a>
    	{switch $page.view}
        {case "changepassword" break}
        <div class="breadcrumb_divider"></div>
        <a class="current">เปลี่ยนรหัสผ่านผู้ดูแลระบบ</a>
        {/switch}
  	{/switch}     
        
      	
    </article>
  </div>
</section>
<!-- end of secondary bar -->

<aside id="sidebar" class="column">
  <form class="quick_search">
    <input type="text" value="Quick Search" onfocus="if(!this._haschanged){ this.value=''};this._haschanged=true;">
  </form>
  <!--<hr/>
		<h3>Content</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="#">New Article</a></li>
			<li class="icn_edit_article"><a href="#">Edit Articles</a></li>
			<li class="icn_categories"><a href="#">Categories</a></li>
			<li class="icn_tags"><a href="#">Tags</a></li>
		</ul>-->
  <h3>จัดการผู้ใช้งาน</h3>
  <ul class="toggle">
    <!--<li class="icn_add_user"><a href="/system/user/add">เพิ่มบัญชีผู้ใช้</a></li>-->
    <li class="icn_view_users"><a href="/system/user/view">ดูบัญชีผู้ใช้</a></li>
    <li class="icn_profile"><a href="/system/user/emp">เพิ่มข้อมูลพนักงานและบัญชี</a></li>
  </ul>
  <h3>จัดการข้อมูลการใช้งาน</h3>
  <ul class="toggle">
    <li class="icn_folder"><a href="/system/log">บันทึกรายการของระบบ</a></li>
    <li class="icn_photo"><a href="/system/userlog">บันทึกรายการของบัญชีผู้ใช้</a></li>
	<!--<li class="icn_audio"><a href="#">Au</a></li>
	<li class="icn_video"><a href="#">Video</a></li>-->
  </ul>
  <h3>ดูแลระบบ</h3>
  <ul class="toggle">
    <!--<li class="icn_settings"><a href="#">จัดการระบบโมดูล</a></li>-->
    <li class="icn_security"><a href="/system/secure">ระบบความปลอดภัย</a></li>
    <li class="icn_jump_back"><a href="/dologout">ออกจากระบบ</a></li>
  </ul>
  <footer>
    <hr />
  </footer>
</aside>
<section id="main" class="column">

  
  {if $page.segment eq "user"}
  {include file = 'user_admin.html'}
  {elseif $page.segment eq "log" || $page.segment eq "userlog"}
  {include file = 'log_admin.html' }
  {elseif $page.segment eq "secure"}
  {include file = 'secure_admin.html'}
  {else}
   <style>
   img{
   vertical-align:middle;

	
   }
  
   </style>
  <article class="module width_full">
    <header>
      <h3>DashBoard</h3>
    </header>
    <div class="module_content" style="position:relative;">
    {if $res.adminChange}
    <div id="notice" style="padding:10pt; background:#FF9900;"><strong>กรุณาเปลี่ยนรหัสผ่านผู้ดูแลระบบโดยทันที เพื่อความปลอดภัย</strong></div>{/if}

    	<div style="margin-left:4.7em; position:relative;">
<!--  <a href="/system/user/add" class="k-button "  style="display:block; margin:5pt; width:20%; float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_add_user.png"> เพิ่มบัญชีผู้ใช้</a>-->
  <a href="/system/user/view" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_view_users.png">ดูบัญชีผู้ใช้</a>
  <a href="/system/user/emp" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_profile.png">เพิ่มข้อมูลพนักงานและบัญชี</a>
 
  <a href="/system/log" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_folder.png">บันทึกรายการของระบบ</a>
  <a href="/system/userlog" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_photo.png">บันทึกรายการของบัญชีผู้ใช้</a>
<!--  <a href="#" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_settings.png">จัดการระบบโมดูล</a>-->
 	<a href="/system/secure" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_security.png">ระบบความปลอดภัย</a>
   <a href="/dologout" class="k-button " style="display:block; margin:5pt; width:20%;float:left;color:#000;"><img src="/templates/skin/HTML5 Admin Template/images/icn_jump_back.png">ออกจากระบบ</a>
   <div class="clear"></div>
    </div>
    </div>
  </article>
  <!-- end of stats article -->
  {/if}
 
</section>
</body>
</html>